{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<div class="loginDiv">
    <div class="col-md-4" style="margin-top:100px">
        <div style="color: red;margin-top:center"><p id="duanyan"></p></div>
        {{ wtf.quick_form(form) }}
        <br>
        {#<p>New user? <a href="{{ url_for('auth.register') }}">保持登录</a>.</p> #}
        <button type="button" class="btn btn-primary btn-lg btn-block" onclick="login()">登录</button>
    </div>
</div>
<style type="text/css">
    .loginDiv {
        margin-left:35%;
        margin-right:auto;
        width:70%
        }
</style>
{% endblock %}

{% block scripts %}
<script type='text/javascript'>
    function login() {
        var username = document.getElementById('username').value;
        var password = document.getElementById('password').value;
        var remember_me = document.getElementById('remember_me').checked;
        var message = document.getElementById('duanyan');
        if (username.length <1) {
            message.innerHTML="用户名不能为空！";
        }else {
            if (password.length < 1) {
                message.innerHTML="密码不能为空！";
            }else {
                var data = {};
                data['username'] = username;
                data['password'] = password;
                data['remember_me'] = remember_me;
                $.ajax({
                    url: '{{ url_for('auth.login') }}',
                    type: 'POST',
                    data: JSON.stringify(data),
                    contentType: 'application/json; charset=UTF-8',
                    processData: false,
                    success: function (result) {
                        if (result['code'] == 200) {
                            location.href='{{ url_for('home.index') }}';
                        }
                        else {
                            message.innerHTML=(result['msg']);
                        }
                    }
                });
            }
        }
    }








</script>
{% endblock %}


