<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>QCM管理平台</title>
    <link rel="icon" href="{{url_for('static',filename='img/codyy.ico')}}" type="image/x-icon">
    <link href="{{url_for('static',filename='css/amazeui.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename='css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/static/materialize/css/materialize.min.css" media="screen,projection"/>
    <link href="{{url_for('static',filename='css/materialize.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename='font-awesome/css/font-awesome.min.css')}}" rel="stylesheet"/>
    <link href="{{url_for('static',filename='css/custom-styles.css')}}" rel="stylesheet">
    <script src="{{url_for('static',filename='js/jquery-3.1.0.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
    <script src="/static/materialize/js/materialize.min.js"></script>
    <script src="/static/js/jquery.metisMenu.js"></script>
    <script src="/static/js/custom-scripts.js"></script>
    {% block head %}
    {% endblock %}
</head>
<body>
<div id="wrapper">
    <nav class="navbar navbar-default top-navbar" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
            </button>
            <a class="navbar-brand waves-effect waves-dark" href="index.html">
                <strong>QCM 管理平台</strong></a>
            <div id="sideNav" href=""><i class="material-icons dp48">toc</i></div>
        </div>

        <ul class="nav navbar-top-links navbar-right">
            <li><a class="dropdown-button waves-effect waves-dark" href="#" data-activates="dropdown"><i
                    class="fa fa-user fa-fw"></i> <b>{{ current_user.real_name }}</b> <i
                    class="material-icons right">arrow_drop_down</i></a></li>
        </ul>
    </nav>
    <!-- Dropdown Structure -->
    <ul id="dropdown" class="dropdown-content">
        <li><a href="{{ url_for('auth.profile') }}"><i class="fa fa-gear fa-fw"></i> 个人资料</a>
        </li>
        <li><a href="/logout"><i class="fa fa-sign-out fa-fw"></i> 退出</a>
        </li>
    </ul>
    <!--/. NAV TOP  -->
    <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">
                <li>
                    <a href="{{ url_for('home.index') }}" class="waves-effect waves-dark"><i
                            class="fa fa-dashboard"></i>首页</a>
                </li>
                <li>
                    <a href="{{ url_for('weeklyreport.weeklyreports') }}" class="waves-effect waves-dark"><i
                            class="fa fa-file-text-o"></i>周报管理</a>
                </li>
                <li>
                    <a href="#" class="waves-effect waves-dark bug-info"><i class="fa fa-sitemap"></i>缺陷统计<span
                            class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="{{ url_for('bug.bugsPerDay') }}"><i class="fa fa-bar-chart"></i>每日新增</a>
                        </li>
                        <li>
                            <a href="{{ url_for('bug.bugsStatus') }}"><i class="fa fa-pie-chart"></i>缺陷状态</a>
                        </li>
                    </ul>
                </li>
                {% if current_user.is_admin %}
                <li>
                    <a href="#" class="waves-effect waves-dark"><i class="fa fa-cogs"></i>基础管理<span
                            class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="#"><i class="fa fa-user-circle" aria-hidden="true"></i>用户管理</a>
                        </li>
                    </ul>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <!-- /. NAV SIDE  -->

    {% block content %}
    {% endblock %}

</div>
{% block scripts %}
{{ moment.include_jquery() }}
{{ moment.include_moment() }}
{{ moment.lang('zh-CN') }}
{% endblock %}
</body>
</html>